@media screen and (min-width: 1025px) {
    .main-header {
        display: flex;
        justify-content: space-between;
        padding: 1rem 5rem; 
    }
    #menu {
        display: none;
    }
    .navigation {
        display: flex;
        flex-direction: row; 
        gap: 3rem;
        padding: 1rem;
        margin: 0.25rem;
        border-radius: 0.5rem; 
    }
    
    .navigation a {
        display: block;
        padding: 5px 0;
        border-bottom: 2px solid var(--bg-secondary); 
        color: var(--text); 
        background-color: transparent;
    }
    
    .iso-logo {
        width: 120px;
    }
    .hero{
        height: 58vh;
    }

    .carousel-wrapper {
        max-width: 1100px; 
        padding: 0 20px; 
        margin: 0 auto;
    }

    .product-carousel {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        overflow-x: hidden;
    }
    .product-item {
        width: calc(33.333% - 20px);
        min-width:auto;
        border: none;
        box-shadow: 0 5px 15px rgba(0,0,0,0.05);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .product-item:hover {
        transform: translateY(-5px);
        box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    }
    .product-item img {
        width: 100%;
        height: 380px;
        object-fit: cover; 
        object-position: center; 
        border-radius: 10px 10px 0 0;
        margin-bottom: 15px;
    }
    .product-item h4 {
        font-size: 1.2rem;
        margin: 10px 0 5px;
    }
    .product-item .price {
        font-size: 1.3rem;
        color: var(--color-primary);
    }
    .about-summary {
        display: flex; 
    }
    .about-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px; 
    }
    .about-content{
        width: 90%;
    }
   
    #mainFooter {
        display: flex;
        flex-direction: column;
        align-items: center; 
        padding: 50px 80px; 
    }
    .footer-links {
        flex-direction: row;
        gap: 20px;
    }
    .footer-subscribe-block form {
        flex-direction: row; 
    }
    .footer-subscribe-block input[type="email"]{
        width: auto; 
        min-width: 200px;
    }
}