:root{
    --bg-primary: #ffffff;
    --bg-secondary: #FFB3E2;
    --text: #7A0054;
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Architects daughter', 'Quicksand', sans-serif;
    font-weight: 400;
}
header, main, footer{
    max-width: 1280px;
    margin: 1rem auto;
    padding: 1rem;
    background-color: var(--bg-primary);
    border-radius: 0.5rem;
    color: var(--text);
    text-align: center;
    border: solid 2px var(--text);
}
main{
    background-color: var(--bg-secondary);
    color: var(--text);
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1.25rem;
    padding: 1.25rem;
    width: 100%;
    margin: 1rem;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: var(--bg-primary);
    border-radius: 0.5rem;
    border: solid 2px var(--text);
}
p{
    font-family: 'Quicksand';
}
img{
    width: 90%;
    object-fit: cover;
    border-radius: 0.25rem;
}
.arch-daugh{
    font-family: 'Architects daughter', sans-serif;
}
.quick{
    font-family: 'Quicksand', sans-serif;
}