*{
    box-sizing: border-box;
}
:root{
    --bg-primary: #ffffff;
    --bg-secondary: #FFB3E2;
    --text: #7A0054;
    --accent:#d63384;
}
.voucher-body {
    background-color: var(--bg-primary);
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 20px;
}
.coupon-card {
    background: var(--bg-primary);
    max-width: 500px;
    width: 100%;
    padding: 40px;
    border-radius: 20px;
    border: 4px dashed var(--bg-secondary); 
    box-shadow: 0 10px 30px rgba(233, 150, 183, 0.2);
    position: relative;
}
.coupon-card h1 {
    font-family: 'Architects Daughter', cursive;
    color: var(--bg-secondary);
    font-size: 2.5rem;
    margin-bottom: 10px;
}
.discount-code {
    background-color: var(--bg-primary);
    color: var(--accent) ;
    font-size: 2rem;
    font-weight: bold;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    letter-spacing: 2px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    border: 2px solid var(--bg-secondary);
}
#copy-msg{
    font-size: 0.8rem;
    color: #888;
    height: 20px;
}
.btn-back-shop {
    background-color: var(--text);
    color: var(--bg-primary);
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
    transition: all 0.3s;
}
.btn-back-shop:hover {
    background-color: var(--bg-secondary);
    transform: translateY(-3px);
}
.confetti {
    font-size: 3rem;
    margin-bottom: 10px;
    display: block;
}