*{
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 3fr 1fr;
}
header{
    grid-column: 1/5;
}
nav ul{
    display: flex;
    flex-direction: row;
}