*{
    box-sizing: border-box;
}
.grid{
    background-color: #41113a;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    margin: 0 auto;
}
header{
    grid-column: 1/5;
}