:root{
    --primary-color: #FF6600;
    --secondary-color: #555555;
    --background: #F9F9F9;
    --text: #000;
    --accent-text: #cc0000;
    --font-family: 'poppins', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header, footer {
    background-color: var(--primary-color);
    color: var(--text);
    text-align: center;
    padding: 1rem 0;
    margin: 1rem;
    width: 96%;
    max-width: 400px;
    font-family: var(--font-family);
    border-radius: 6px;
}
main{
    background-color: var(--background);
    color: var(--text);
    padding: 1rem 0;
    margin: 1rem;
    width: 96%;
    max-width: 400px;
    font-family: var(--font-family);
}
.form1 fieldset{
    margin: 2rem 0;
    border: 1px solid var(--secondary-color);
    border-radius: 0.75rem;
    padding: 0.5rem 2%;
}
.form1 legend{
    color: var(--text);
    padding: 0 0.5rem;
}
.form1 label{
    display: block;
    padding: 1rem;
    color: var(--accent-text);
    font-size: 0.9rem;
}
.stars-rating{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: 250px;
    margin: 0 auto;
    position: relative;

}
.stars-rating input{
    display: none;
}
.stars-rating > label {
  width: 30px;
  height: 30px;
  font-family: Arial;
  font-size: 30px;
  transition: 0.2s ease;
  color: #ffa500;
}
.stars-rating label:hover {
  color: #ff69b4;
  transition: 0.2s ease;
}
.stars-rating label:active::before {
  transform:scale(1.1);
}
.stars-rating label::before {
  content: '\2606';
  position: absolute;
  top: 0px;
  line-height: 26px;
  transition: 0.2s ease;
}
.stars-rating input:checked ~ label:before {
  content:'\2605';
}
@-moz-document url-prefix() {
  .stars-rating input:checked ~ label:before {
  font-size: 36px;
  line-height: 21px;
  }
}  
.form1 input[type="submit"]{
    background-color: var(--primary-color);
    color: var(--text);
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem 2rem;
    width: 96%;
    max-width: 400px;
    font-size: 1rem;
    margin: 0 2% 2rem 2%;
    box-shadow: 1px 1px 5px var(--secondary-color);
}
.form1 input:required{
    border-left:solid 8px var(--accent-text);
}
.form1 input:required:valid{
    border-left:solid 8px var(--support-text);
}
footer p{
    font-size: 0.75rem;
}
@media (min-width: 1025px) and (max-width: 1280px){
    body{
        width: 100vw;
        max-width: 1280px;
        padding: 0;
    }
    header, main, footer{
        width: 100%;
        max-width: 1280px;
        margin:  1rem 0;
    }
}
