*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}
:root{
    --primary: #7a0000;
    --secondary: #fff;
    --accent:#cceaff;
    --text: #000;
    --bg-text: #cceaff;
    --shadow: rgba(0, 0, 0, 0.15);
}
body{
    font-family: "bricolage grotesque", sans-serif;
    font-weight: 400;
}
header, main, footer{
    max-width: 1024px;
    border-radius: 0.5rem;
}
header{
    text-align: center;
    background-color: var(--primary);
    color: var(--secondary);
    padding: 1rem;
}
h1{
    font-size: 1.5rem;
}
.hero{
    margin: 0 auto;
}
.hero-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;   
    margin: 0.5rem auto;
    place-items: center;
}
.hero-wrapper picture{
    grid-row: 1/2;
}
.hero-wrapper div{
    grid-row: 2/3;
    background-color: var(--accent);
}
.hero-small{
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    object-fit: cover;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    width: 410px;
    max-width: 599px;
    border-radius: 0.5rem;
}
.data, .weather {
    background-color: var(--secondary);
    color:var(--text);
    width: 100%;
    max-width: 300px;
    padding: 1rem;
    border-radius: 1rem;
}
h2{
    text-align: center;
}
.weather{
    display: flex;
    flex-direction: column;
}
.weather-icon{
    width: 5rem;
    align-self: center;
}
footer{
    background-color: var(--primary);
}
footer p{
    text-align: center;
    color: var(--secondary);
}
footer span{
    padding: 0.5rem auto;
    color: var(--secondary);
    text-align:  center;
}