@media screen and (min-width:1024px){
    h1{
        font-size: 2.5rem;
    }
    .info{
        background-color: rgba(255, 255, 255, 0.10);
        position: absolute;
        top: 0;
        left: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:1fr 1fr;
        padding: 1rem;
        width: 100%;
        height: 100%;
    }
    .data{
        grid-column: 1/2;
        grid-row: 1/2;
        justify-self: start;
        align-self: start;
        background-color: rgba(255, 255, 255, 0.25);
    }
    .weather{
        grid-column: 2/3;
        grid-row: 2/3;
        justify-self: end;
        align-self: end;
        background-color: rgba(255, 255, 255, 0.25)
    }
}
