*{
    box-sizing: border-box;

}
:root{
    --primary: #7a0000;
    --secondary: #fff;
    --accent:#cceaff;
    --text: #000;
    --bg-text: #cceaff;
    --shadow: rgba(0, 0, 0, 0.15);
}
body{
    font-family: "bricolage grotesque", sans-serif;
    font-weight: 400;
}
header, main, footer{
    max-width: 1024px;
    border-radius: 0.5rem;
    margin: 1rem auto;
    padding: 1rem;
}
header{
    text-align: center;
    background-color: var(--primary);
    color: var(--secondary);
    padding: 1rem;
}
.hero-wrapper{
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    
    background-color: var(--primary);
}
.hero-wrapper picture{
    grid-row: 1/2;
    background-color: var(--primary);
}
.hero-wrapper div{
    grid-row: 2/3;
}
.hero-small{
    width: 100%;
    height: auto;
    max-width: 599px;
}