
@media screen and (min-width: 630px) {
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
    #temple-title {
        font-size: 2rem;
    }
    nav{
    background-color: #6a4819;
    border-radius: .5rem;
    }
    #menu {
		display: none;
	}

	.navigation {
		flex-direction: row;
        background-color: #6a4819;
        gap: 0.35rem;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
        border-radius: .5rem;
	}
    .navigation a:hover{
        border: none;
        border-radius: .5rem;
    }
	nav ul {
		justify-content: flex-end;
        align-items: center;
		flex-direction: row;
	}
	nav a {
		flex: 1 1 100%;
	}
}
