*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
header, main, footer {
    max-width: 960px;
    margin: 0.75rem auto;
    padding: 1rem;
    background-color: #3e270a;
    border: 2px solid #f4f7fa;
}
header {
	background-color:#3e270a ;
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1rem;
	padding: 20px;
	border: 1px solid #000;
	box-shadow: 0 0 30px;
}
#temple-title {
    font-size: 2rem;
    color:#f4f7fa;
    text-align: center;
}
nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}
nav a{
    display: block;
    color: #fbfcea;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.35rem;
}
nav a:hover{
    text-decoration: underline;
    background-color: #f6f592;
    color:#000;
}
.active{
    background-color: #3e270a;
    color:#f4f7fa;
}
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #f4f7fa;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}

.navigation {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	list-style: none;
	color: #f4f7fa;
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation a:hover {
	background-color: #f6f592;
	color: #fff;
	font-weight: 700;
    border: 4px solid #000;
    
}

.open a {
	display: block;
}

h1{
    color:#f4f7fa;
    text-align: center;
}
main{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem; 
}

.container {
    padding: 1rem;
    background-color: #000;
    display:grid; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    grid-gap: 25px;
    place-items: center;
}
figure {
    background-color: #000;
}
img {
    border-radius: .5rem;
    filter: blur(4px);
}
.blur:hover{
    filter: none; 
    transition: filter 0.2s ease-in-out;
}    
figcaption{
    color:#f4f7fa;
    text-align: center;
    margin-top: 0.5rem;
}
footer{
    color:#f1f9fa;
}
footer p{
    text-align: center;
    font-size: 0.9rem;
}
