*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
@media screen and (min-width: 520px) {
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav ul {
		justify-content: flex-end;
        align-items: center;
		flex-direction: row;
	}
	nav a {
		flex: 1 1 100%;
	}
}
