
@media screen and (min-width: 630px) {
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
    nav{
    background-color: #6a4819;
    }
    #menu {
		display: none;
	}

	.navigation {
		flex-direction: row;
        background-color: #6a4819;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}
    .navigation a:hover{
        border: none;

    }
	nav ul {
		justify-content: flex-end;
        align-items: center;
		flex-direction: row;
	}
	nav a {
		flex: 1 1 100%;
	}
}
