*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
header, main, footer {
    max-width: 960px;
    margin: 0.75rem auto;
    padding: 1rem;
    background-color: #282f43;
    border: 2px solid #f4f7fa;
}
header {
	background-color:#282f43 ;
	display: grid;
	grid-gap: 1rem;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 30px ;
 }
#temple-title {
    font-size: 2rem;
    color:#f4f7fa;
}
nav{
    background-color: #475886;
}
nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}
nav a{
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.35rem;
}
nav a:hover{
    text-decoration: underline;
    background-color: #b1c8df;
    color:#000;
}
.active{
    background-color: #3d4a6b;
    color:#fff;
}
h1{
    color:#f4f7fa;
}
main{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem; 
}
section{
    padding: 1rem;
    background-color: #dceff1;
}
.container {
    display:grid; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    grid-gap: 25px;
    place-items: center;}
footer{
    color:#f1f9fa;
}
