*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
 
}
header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    padding: 1rem;
    background-color: #314f59;
    border: 2px solid #dceff1;
}
h1{
    color:#dceff1;
}
main{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
section{
    padding: 1rem;
    background-color: #dceff1;
}
footer{
    color:#f1f9fa;
}